<% provide(:title, 'Help') %>
<!DOCTYPE html>
<h1>Help</h1>
	<p>
		Get help on ruby on rails tutorial at the
		<a href="http://railstutorial.org/help" >Ruby Tutorial home page</a> To get
		help on sample app visit
		<a href="http://railstutorial.org/book" >Rails tutorial book</a>
	</p>